.forgot-password {
    margin-top: 100px;
    margin-bottom: 135px;
}

    .forgot-password .forgotPassword h2 {
        font-size: 17px;
        color: #3770c8;
    }

.forgot-password .container .card {
    width: 400px;
    box-shadow: 0 2px 6px rgba(55, 112, 200, 0.8);
}

    .forgot-password .container .card hr {
        background: #3770c8;
    }

    .forgot-password .container .card .register-title {
        color: #3770c8;
        font-size: 16px;
        font-weight: 600;
        vertical-align: middle;
    }

.forgot-password .card {
    width: 400px;
}

.forgot-password form {
    font-size: 15px;
}

.btn-forgot-password {
    width: 100%;
    border-radius: 30px;
    padding: 12px 20px;
    border-color: #3770c8;
    color: #3770c8;
    transition: 0.5s;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

    .btn-forgot-password:hover {
        box-shadow: 0 0 10px #3770c8;
    }

@media screen and (max-width: 450px) {
    .forgot-password .container .card {
        width: 300px;
    }

    .btn-forgot-password {
        padding: 8px 15px;
    }
}
