@{
    Layout = "_ManagerLayout";
}


<div class="row g-3 my-2">
    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">720</h3>
                <p class="fs-5">Plastic Bottle</p>
            </div>
            <i class="fa-solid fa-bottle-water fs-1 primary-text p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">4920</h3>
                <p class="fs-5">Battery</p>
            </div>
            <i class="fa-solid fa-battery-full fs-1 primary-text p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">3899</h3>
                <p class="fs-5">Can Coke</p>
            </div>
            <i class="fa-solid fa-prescription-bottle fs-1 primary-text p-3"></i>
        </div>
    </div>

    <div class="col-md-3">
        <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
            <div>
                <h3 class="fs-2">25</h3>
                <p class="fs-5">Recycle Coin</p>
            </div>
            <i class="fa-solid fa-coins fs-1 primary-text p-3"></i>
        </div>
    </div>
</div>
