
<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style-index.css" />

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
</head>

<!-- Landing section-->
<section class="landing">
    <div class="container">
        <div class="row">
            <!-- Text -->
            <div class="col-md-6">
                <div class="text">
                    <span class="shadow-text">
                        In recycling <br />new era of crypto
                    </span><br />
                    <span class="gradient-text">RECYCLE COIN</span>
                </div>
                <div class="buttons">
                    <a asp-area="" asp-controller="Authentication" asp-action="Register" class="btn btn-grad">Get Started</a>
                </div>
            </div>
            <!-- Image -->
            <div class="col-md-6">
                <img src="~/images/globe.png" alt="globe-img" class="w-100" />
            </div>
        </div>
    </div>
</section>

<!-- api section -->
<section class="bitcoin-api">
    <div class="container">
        <div class="slider-container">
            <div class="swiper apiService">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/btc.png" alt="btc-img" />
                            </div>
                            <span>BITCOIN</span>
                        </div>
                        <p class="coin-value" id="bitcoin"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/lite.png" alt="lite-img" />
                            </div>
                            <span>LITECOIN</span>
                        </div>
                        <p class="coin-value" id="litecoin"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/eth.png" alt="eth-img" />
                            </div>
                            <span>ETHEREUM</span>
                        </div>
                        <p class="coin-value" id="ethereum"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/doge.png" alt="doge-img" />
                            </div>
                            <span>DOGECOIN</span>
                        </div>
                        <p class="coin-value" id="dogecoin"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/xrp.png" alt="ripple-img" />
                            </div>
                            <span>RIPPLE</span>
                        </div>
                        <p class="coin-value" id="ripple"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/tether.png" alt="tether-img" />
                            </div>
                            <span>TETHER</span>
                        </div>
                        <p class="coin-value" id="tether"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/solana.png" alt="solana-img" />
                            </div>
                            <span>SOLANA</span>
                        </div>
                        <p class="coin-value" id="solana"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/trx.png" alt="tron-img" />
                            </div>
                            <span>TRON</span>
                        </div>
                        <p class="coin-value" id="tron"></p>
                    </div>
                    <div class="swiper-slide">
                        <div class="name">
                            <div class="name__icon">
                                <img src="~/images/api/cardano.png" alt="cardano-img" />
                            </div>
                            <span>CARDANO</span>
                        </div>
                        <p class="coin-value" id="cardano"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About section -->
<section class="about" id="about">
    <div class="container">
        <div class="row info-1">
            <!-- Image -->
            <div class="col-md-6">
                <img src="~/images/tradingtools.png"
                     alt="About us"
                     class="w-100" />
            </div>

            <!-- Text -->
            <div class="col-md-6">
                <div class="text-information">
                    <h5>Let us introduce ourselves</h5>
                    <p>
                        We believe that there should be no such thing as waste in the world. Together we can keep our environment clean by developing new solutions and new uses for recyclables.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Earn Coin section-->
<section class="earn-coin">
    <div class="container">
        <h3>Get started in just a few minutes</h3>
        <div class="row">
            <div class="col-md-4 positions">
                <div class="card d-block p-3">
                    <img src="~/images/signup.png" alt="sign up" />
                    <div class="card-body">
                        <h4>Sign Up</h4>
                        <p>
                            Sign up for your free Recycle wallet and follow some simple steps to create your profile
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 positions">
                <div class="card d-block p-3">
                    <img src="~/images/wallet.png" alt="wallet" />
                    <div class="card-body">
                        <h4>Recycle</h4>
                        <p>
                            Earn money and protect the environment by bringing recyclable
                            materials to our recycling centers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 positions">
                <div class="card d-block p-3">
                    <img src="~/images/earn.png" alt="earn" />
                    <div class="card-body">
                        <h4>Earn Coin</h4>
                        <p>
                            Earn Recycle Coins, then store them securely in your wallet or
                            easily send them to your friends
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Support questions -->
<section class="support-questions" id="support">
    <div class="container">
        <div class="row">
            <!-- Text -->
            <div class="col-md-6">
                <div class="text-information">
                    <h5>SUPPORT</h5>
                    <h4>Frequently asked questions</h4>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne">
                                    What is the main purpose of Recycle Coin?
                                </button>
                            </h2>
                            <div id="collapseOne"
                                 class="accordion-collapse collapse show"
                                 aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Recycle Coin is the software created to prevent unnecessary use of resources and to reduce the amount of waste and make materials reusable, both ensuring the protection of natural resources and playing an important role in the economy of the user.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    How can I convert my recycle items into Recycle Coins?
                                </button>
                            </h2>
                            <div id="collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Recycling objects brought by the user are entered into the
                                    system by the operator, and carbon points are added to the
                                    account of the person who brings the trash.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree"
                                        aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Why is recycling necessary?
                                </button>
                            </h2>
                            <div id="collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="headingThree"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    By recycling, we protect both nature and our resources. As
                                    a result of recycling plastic packaging waste, oil savings
                                    can be achieved. By recycling metal packaging, we can
                                    protect our natural areas from deterioration.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="col-md-6">
                <img src="~/images/faq.png" alt="Asked questions" class="w-100" />
            </div>
        </div>
    </div>
</section>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Custom js -->
<script>
    var swiper = new Swiper(".apiService", {
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        mousewheel: true,
        keyboard: true,
        cssMode: true,

        breakpoints: {
            480: {
                slidesPerView: 1,
                spaceBetween: 15,
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 6,
                spaceBetween: 30,
            },
        },
    });
</script>