@{
    ViewData["Title"] = "- Login";
}

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="card m-auto">
                    <div class="card-body">
                        <div class="login-title">
                            Sign in to your Recycle Coin account
                        </div>
                        <hr />
                        <img src="~/images/user-logo.png" alt="login" class="mb-3" />
                        <form action="">
                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="email"
                                           class="form-control"
                                           id="floatingInput"
                                           placeholder="name@example.com" />
                                    <label for="floatingInput">Email address</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <input type="password"
                                           class="form-control"
                                           id="floatingPassword"
                                           placeholder="Password" />
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <button type="button" class="btn-sign-in mb-3">
                                    Sıgn In
                                </button>
                            </div>
                        </form>
                        <div class="forgot-password mb-3">
                            or <a asp-area="" asp-controller="Home" asp-action="ForgotPassword">Forgot Password</a>
                        </div>
                        <div class="create-acount">
                            Don't have an account? <a asp-area="" asp-controller="Home" asp-action="Register"> Register </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


