@model UserModel

@{
    ViewData["Title"] = "- Forgot Password";
}

<head>
    <link rel="stylesheet" href="~/css/style-forgot-password.css" />
</head>

<section class="forgot-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="card m-auto">
                    <div class="card-body">
                        <div class="forgotPassword">
                            <h2>Please enter your email address</h2>
                        </div>
                        <hr />
                        <form asp-controller="Authentication" asp-action="ForgotPassword" method="post">
                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="email"
                                           class="form-control"
                                           id="floatingInput"
                                           name="email"
                                           placeholder="name@example.com" required />
                                    <label for="floatingInput">Email address</label>
                                </div>

                                @if (ViewBag.message==false)
                                {
                                    <label class="text-primary mb-2">We couldn't find an account with that email</label>
                                }
                                @*

                                <label class="text-primary mb-2">Please check your e-mail address</label>*@

                                <button type="submit" class="btn-forgot-password mb-3">
                                    Submıt
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
