@{
    ViewData["Title"] = "- Forgot Password";
}

<head>
    <link rel="stylesheet" href="~/css/style-forgot-password.css" />
</head>

<section class="forgot-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="card m-auto">
                    <div class="card-body">
                        <div class="forgotPassword">
                            <h2>Please enter your email address</h2>
                        </div>
                        <hr />

                        <form action="">
                            <div class="form-group">
                                <div class="form-floating mb-3">
                                    <input type="email"
                                           class="form-control"
                                           id="floatingInput"
                                           placeholder="name@example.com" />
                                    <label for="floatingInput">Email address</label>
                                </div>

                                <button type="button" class="btn-forgot-password mb-3">
                                    Submıt
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
