@model dynamic
@{
    Layout = "_ManagerLayout";
}

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style-introduce-product.css" />
</head>

<div class="camera-container">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Camera
            </div>
            <div class="panel-body">
                <div id="my_camera"></div>
                <form>
                    <input type="button" class="btn button-camera" value="Take Snapshot" onclick="send_photo()" />
                </form>
            </div>
        </div>
    </div>
    <form id="myform" method="post" asp-controller="Admin" asp-action="IntroduceProduct">
        <input id="mydata" type="hidden" name="imageString" value="" />
    </form>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Captured Photo
            </div>
            <div class="panel-body">
                @if (Model != null)
                {
                    <img src="data:image/jpeg;base64,@Model.Image" />
                }
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

<script src="~/webcamjs/webcam.js"></script>

<script type="text/javascript">
    Webcam.set({
        width: 600,
        height: 450,
        image_format: 'jpeg',
        jpeg_quality: 100
    });
    Webcam.attach("#my_camera");
</script>

<script type="text/javascript">
    function take_snapshot() {
        Webcam.snap(function (data_uri) {
            document.getElementById("results").innerHTML =
                '<img src="' +
                data_uri +
                '"/>';
            Webcam.upload(data_uri,

                '/Admin/IntroduceProduct'
            )
        })
    }
    function send_photo() {
        Webcam.snap(function (data_uri) {
            var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');

            document.getElementById('mydata').value = raw_image_data;
            document.getElementById('myform').submit();
        })
    }
</script>