@model dynamic

@{
    Layout = "_ManagerLayout";
}

@{
    ViewData["Title"] = "Set Operator";
}

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style-set-operator.css" />
    <style>
        .focusedTr {
            background-color: #3770c8;
            color:white;
        }
    </style>
</head>

<div class="row my-5">
    <div class="col">
        <div class="row-input">
            <input type="text"
                   name="search"
                   id="myInput"
                   placeholder="Search..."
                   onkeyup="search()" />
            <select onchange="selectRole(this)" class="form-select" aria-label="Default select example">
                <option selected disabled>Select role</option>
                <option value="1">Admin</option>
                <option value="2">Operator</option>
                <option value="3">User</option>
            </select>
            <form asp-controller="Admin" asp-action="SetOperator" method="post">
                <input id="userId" name="userId" type="hidden" />
                <input id="roleId" name="roleId" type="hidden" />
                <button type="submit" class="confirm-button">Confirm</button>
            </form>

        </div>
        <table class="table bg-white rounded shadow-sm table-hover">
            <thead>
                <tr class="table-primary text-muted">
                    <th scope="col" width="50">ID</th>
                    <th scope="col">Role</th>
                    <th scope="col">Username</th>
                    <th scope="col">E-Mail</th>
                </tr>
            </thead>
            <tbody id="myTBody">
                @foreach (var user in Model.users)
                {
                    <tr onclick="selectUser(this)">
                        <th id="tableId" scope="row">@user.Id</th>
                        <td>@user.Role</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Custom js file-->
<script src="~/js/set-operator.js"></script>
<script>
    let trs = document.querySelectorAll("#myTBody > tr");
    let currentTr1;
    for (i = 0; i < trs.length; i++) {
        console.log("donuyo");
        let currentTr = trs[i];
        currentTr.addEventListener('click', function (e) {
            if (currentTr1) {
                currentTr1.classList.toggle("focusedTr");
            }
            currentTr1 = currentTr;
            currentTr1.className = "focusedTr";
            console.log("eklendi");
        })
    }
</script>